ansimarkup==1.4.0
attrdict==2.0.1
better-exceptions-fork==0.2.1.post6
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
idna==2.8
loguru==0.2.5
oauthlib==3.0.1
Pygments==2.7.4
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
urllib3==1.24.1
